.page{
    position:relative;
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.heart{
    fill: rgb(255, 60, 0);
    animation-name: heart;
    animation-duration:3s
  
  }

  @keyframes heart{
    0% {fill: aquamarine;}
    25% {fill: aqua;}
    50% {fill: blueviolet;}

    75% {fill: blue;}
    100% {fill:rgb(124, 29, 0);}
  }
.blog_image_con{
    max-height: 480px;
    border:1px solid black;
    overflow: hidden;
}
.blog_image{
    width: 100%;
    height: 480px;

}

.avatar_con{
    margin-left:1rem;
}

.mobile-nav{
    
    height:100vh;
    width: 100vh;
    position: absolute;
    top:20px;
    background-color: black;
    color:white;
  
   
}


.mobile-nav-flex{
    margin-top:58px;
}

.mobile-nav-row{
    padding: 5px 5px;
    font-size: 24px;
    height:75px;
    display: flex;
    align-items: center;
}
.mobile-nav-row:hover{
    background-color: beige;
    color:black;

}

.mobile-nav-text{
    margin-left:1rem;
}

.mobile-nav-text-cat{
    margin-left:2rem;
}

