.blog-card-con{
    padding-top:5rem;
    padding-bottom:3rem;
    background-color: ghostwhite;
}

.blog-chev-item{
    margin: 0 3rem;
    padding:.5rem .5rem;
    border-radius: 50%;
}

.blog-chev-item:hover{
  
    background-color: rgba(0,0,0,0.1);
}
.blog-chev-con{
    margin-top:1rem;
}
.card-title{
    /* min-height: 55px; */
}

.blog-card-row{
    min-height:400px;
}