.canadia_leaf{
    margin-left:1rem;
}

.sub_footer{
    background-color: rgb(109, 109, 109);
    color:rgb(255, 255, 255);
}
.footer_search_con{
    border: 1px solid rgb(44, 44, 44);
    background-color:ghostwhite;
    padding: 1rem 1rem;
    border-radius: 15px;
}

.footer_con{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    background: #353637;
    color: #fff;
    overflow-x: hidden;
}
.footer_company_text{
    margin-top:auto;
}
.footer-row{
   
    padding-bottom:3rem;
    border-bottom:1px solid black;
}

.footer-company-info-item{
    margin:.5rem 0;
}

.footer-logo-text{
    font-size:1.6em;
}
.cp{
    cursor: pointer;
}
.footer-company-info{
    margin-top:3rem;
    margin-left:3rem;
}
.footer-link-header{
    
    font-size:1.2em;
    color:#0d6efd;
   
    font-weight: 700;
}
.footer-link-col{
    margin-top:3rem;
    margin-left:3rem;
}

.footer-cpy{
    color:grey;
    font-size:.8em;
}

.footer-status-con{
    background-color: #a1ce9b;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-top: 2rem;
    max-width: 322px;
    text-align: center;
    width:100%;
    overflow: hidden;
}
.footer-search-con{
   
    color:white;
    margin-top:1rem;
}
.footer-link-col-item{
    margin:.5rem 0;
}
.footer-link-col-item:hover{
    color:black;
    cursor: pointer;
}
.rocket-img{
    color:white;
}

.footer-search-con{
    max-width:450px;
    padding:1rem 1rem;
    margin-left:3rem;
    margin-right:3rem;
}

.footer-search-row{
    overflow-x: hidden;
}
.footer-search-slogan{
    font-size:1.5em;
    margin-bottom:1rem;
}

.footer-search-btn{
    padding:.75rem 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#0d6efd;
}

.footer-search-btn:hover{
    cursor: pointer; 
}

.footer-search-input{
    border:none;
    text-indent: 10px;
    width:300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer-search-input:focus{
    outline: none;
}

/* animation */
.form-item-search-footer{
    
    margin-right:1rem;
    position:relative;
}
#InputEmailLogin{
    width:100%
}
#InputEmailRegister{
    width:100%
}


#InputPasswordRegister{
    width:100%
}

.form-input-search-footer{
   
   
}


/*validation items */

.valid-icon{
    display:block;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 1.3rem;
    color: #28a745;
}

.valid-icon-pw{
    display:block;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 1.3rem;
    color: #28a745;
}


.error-msg{
    background: #e74c3d;
    color:#fceae7;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    font-size:1.1rem;
    margin-top:1rem;
    margin-bottom:1rem;
    text-align: left;
    line-height:.5rem;
    position:relative;
}

.error-msg::before{
    position:absolute;
    content: "";
    width: 1rem;
    height:1rem;
    background-color:#e74c3d; 
    right: 1.2rem;
    top: -0.5rem;
    transform: rotate(45deg);
}

/* START STATE - hide validation */

.valid-icon{
    opacity:0;
    transition: opacity 0.4s linear;
}

.invalid-item{
    height: 0;
    overflow:hidden;
    transition: height 0.4s linear;
}

/* VALID STATE - show valid icon */

.form-input-search-footer.valid{
    border-color:#28a745;
}

.form-input-search-footer.valid ~ .valid-icon{
    opacity: 1;
}

/* INVALID STATE - show error item */

.form-input-search-footer.invalid{
    border-color:#e74c3d;
}
.form-input-search-footer.invalid ~ .invalid-item{
    height:3.6rem;
}
